.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App-logo {
  animation: App-logo-spin infinite 80s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  color: white;
  width: 100vw;
  min-height: 20vh;
  flex-shrink: 0;
}

.hidden {
  display: none;
}

.count {
  font-style: italic;
  color: #fff;
  text-align: right;
  margin: 0 5vw;
}

.digits {
  font-size: 8vh;
  color: #222;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-height: 70vh;
  box-sizing: border-box;
  flex: 200;
}

.group {
  width: 50vw;
}

.digits.s {
  font-size: 6vh;
}

.buttons {
  width: 100vw;
  height: 10vh;
  bottom: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex-shrink: 0;
}

.button {
  width: 33%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}

.button {
  background-color: #222;
  color: #fff;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
